{% extends 'base/base.html' %} 
{% load staticfiles %}

{% block tittle %} 
	Lista Adopcion
{% endblock %}

{% block content %} 
<table class="table table-bordered">
	<thead>
		<tr>
			<td>No. Solicitud</td>
			<td>Adoptante</td>
			<td>No. Mascota</td>
			<td>Razones</td>
			<td>Acciones</td>
		</tr>
	</thead>
	<tbody>
		{% if object_list %}
		{% for solicitud in object_list %}
		<tr>
			<td>{{ solicitud.id }}</td>
			<td>{{ solicitud.persona.nombre }} {{ solicitud.persona.apellido }}</td>
			<td>{{ solicitud.numero_mascotas }}</td>
			<td>{{ solicitud.razones }}</td>

			<td>
				<a href="{% url 'adopcion:solicitud_editar' solicitud.id %}" class="btn btn-primary">Editar</a>
				<a href="{% url 'adopcion:solicitud_eliminar' solicitud.id %}" class="btn btn-danger">Eliminar</a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No hay registro de Solicitudes</h1>
		{% endif %}
	</tbody>
</table>

<div class="col-md-4 col-md-offset-4">
		<ul class="pager">
			<li class="previous">
				{% if page_obj.has_previous %}
				<a href="?page={{ page_obj.previous_page_number }}">&larr; Anterior</a>
				{% endif %}
			</li>
			<li class="next">
				{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}">Siguiente &rarr; </a>
				{% endif %}
			</li>
		</ul>
</div>
{% endblock %}